.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:600px;
    margin:0 auto;
}
.formulario input,
.formulario textarea{
    width:100%;
}
.formulario button{
    margin-top:20px;
}